<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" class="no-js">

<head th:include="baseviews/basecss :: basecss"></head>

<body class="app sidebar-mini rtl">

	<header class="app-header" th:replace="baseviews/baseheader :: baseheader"></header>

	<!-- Sidebar menu-->
	<div class="app-sidebar__overlay" data-toggle="sidebar"></div>

	<div th:replace="baseviews/basemenu :: leftsidemenu"></div>
	<main class="app-content">
		<div th:replace="item/pageheader :: pageHeader"></div>
		<div class="row">
			<div class="col-sm-12">
				<div class="btn-tile">
					<div class="tile-body">
						<a class="btn btn-primary icon-btn" th:href="@{/item/add}"><i class="fa fa-plus"></i> Add </a>
						<a class="btn btn-success icon-btn" onclick="document.getElementById('btn_submit_item_frm').click();"><i class="fa fa-floppy-o"></i> Save </a>
						<a class="btn btn-danger icon-btn" th:if="${item.id != null}" th:href="@{/item/delete(id=${item.id})}"><i class="fa fa-trash"></i> Delete </a>
						<a class="btn btn-secondary icon-btn" th:href="@{/item/}"><i class="fa fa-arrow-circle-left"></i> Back </a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form method="POST" id="frm_item" role="form" th:action="@{/item/save}" th:object="${item}">
	                <div class="row" style="visibility: hidden;">
	                    <button id="btn_submit_item_frm" type="submit"></button>
	                </div>
						<div class="tile">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="itemName" class="control-label">Item Name</label>
										<div class="input-group">
				                        	<div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-id-card-o"></i></span></div>			                        
											<input class="form-control" id="itemName" name="itemName" placeholder="Please Specify a Item Name" type="text">
				                      	</div>								
									</div>
								</div> 
								<div class="col-md-6">
									<div class="form-group">
										<label for="itemName" class="control-label">SKU</label>
										<div class="input-group">
				                        	<div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-key"></i></span></div>			                        
											<input class="form-control" id="itemName" placeholder="Please Specify a SKU" type="text">
				                      	</div>								
									</div>
								</div> 
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<label for="itemName" class="control-label">Sale Price</label>
										<div class="input-group">
				                        	<div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-money"></i></span></div>			                        
											<input class="form-control" id="itemName" placeholder="Please Specify a Sale Price" type="text">
				                      	</div>								
									</div>
								</div> 
								<div class="col-md-3">
									<div class="form-group">
										<label for="itemName" class="control-label">Purchase Price</label>
										<div class="input-group">
				                        	<div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-money"></i></span></div>			                        
											<input class="form-control" id="itemName" placeholder="Please Specify a Purchase Price" type="text">
				                      	</div>								
									</div>
								</div> 
								<div class="col-md-3">
									<div class="form-group">
										<label for="itemName" class="control-label">Quantity</label>
										<div class="input-group">
				                        	<div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-cubes"></i></span></div>			                        
											<input class="form-control" id="itemName" placeholder="Please Specify a Quantity" type="text">
				                      	</div>								
									</div>
								</div> 
								<div class="col-md-3">
									<div class="form-group">
										<label for="itemName" class="control-label">Tax</label>
										<div class="input-group" id="taxContainer">
				                        	<div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-percent"></i></span></div>			                        
											<select class="form-control" id="itemTax">
								                <optgroup label="Select Tax">
								                  <option value="&nbsp"> </option>
								                </optgroup>
							              	</select> 
				                      	</div>								
									</div>
								</div> 
							</div>
							<div class="clearfix"></div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">Category</label>
										<div class="input-group" id="categoryContainer">
											<div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-folder-open-o"></i></span></div>
											<select class="form-control" id="itemCategory" name="itemCategory">
								                <optgroup label="Select a Category">
								                  <option value="&nbsp"> </option>
								                </optgroup>
							              	</select> 
											<div class="input-group-append"><a class="input-group-link" id="btn_add_new_category"><i class="fa fa-plus"></i></a></div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
									<label class="control-label">Is Enabled</label>
										<div class="toggle">
											<label>
												<input type="checkbox"><span class="button-indecator"></span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
				</form>
			</div>
		</div>
	</main>
	<div th:replace="baseviews/basejs :: basejs"></div>
	
    <script type="text/javascript" th:src="@{/resources/script/lib/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/script/lib/plugins/select2.min.js}"></script>
    
    <script type="text/javascript" th:src="@{/resources/script/app/item/add-view.js}"></script>
    <script type="text/javascript" th:src="@{/resources/script/app/item/init.js}"></script>

</body>

</html>