<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" class="no-js">
 
 <head th:include="baseviews/basecss :: basecss"></head>
 
 <body class="app sidebar-mini rtl">
 	<header class="app-header" th:replace="baseviews/baseheader :: baseheader"></header>
 	 	<!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
        <div th:replace="baseviews/basemenu :: leftsidemenu"></div>
	    <main class="app-content">
			<div th:replace="item/pageheader :: pageHeader"></div>
			<div class="row">
				<div class="col-sm-12">
					<div class="btn-tile">
						<div class="tile-body">
							<a class="btn btn-primary icon-btn" th:href="@{/item/add}"><i class="fa fa-plus"></i> Add </a>							
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="tile">
						<div class="tile-body">
							<table class="table table-hover table-bordered" id="tbl-items">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th>Position</th>
										<th>Office</th>
										<th>Age</th>
										<th>Start date</th>
										<th>Salary</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</main>
    <div th:replace="baseviews/basejs :: basejs"></div>
</body>
</html>