<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">

	<div th:fragment="basejs">
	
	    <!-- Essential javascripts for application to work-->
	    <script type="text/javascript" th:src="@{/resources/script/lib/jquery-3.2.1.min.js}"></script>
	    <script type="text/javascript" th:src="@{/resources/script/lib/bootstrap.min.js}"></script>
	    <script type="text/javascript" th:src="@{/resources/script/lib/popper.min.js}"></script>
	    <!-- The javascript plugin to display page loading on top-->
	    <script type="text/javascript" th:src="@{/resources/script/lib/plugins/pace.min.js}"></script>	
	     
	    <script type="text/javascript" th:src="@{/resources/script/lib/main.js}"></script>
	    
	    
    </div>

</html>